.App {
  text-align: center;
  height: 100vh;
}

Nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background: #c39797;
}

Nav a {
  color: black;
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-home {
  width: 44%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

a {
  padding: 0 5px;
}

.error-msg {
  color: red;
  padding: 8px 0;
}

.login-link {
  margin: 2rem 0;
}

.submit-button, .save-button {
  padding: 8px 20px;
  background: #312d37;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
}

input {
  width: 30%;
  padding: 10px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #534c5c;;
  border-radius: 4px;
  box-sizing: border-box;
}

form {
  margin-bottom: 4rem;
}

.settings-form{
  border: 1px dashed #534c5c;;
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 8px;
}

.toggle-button{
  border: 1px solid white;
  border-radius: 4px;
  background: #534c5c;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.friend-list {
  margin: 1rem;
}

.friend-list-page{
  margin-top: 4rem;
}

.friend-list-view{
  margin: 3rem 0;
}

a.add-buttonLink {
  font-size: 20px;
  color: #534c5c;
  background: transparent;
  border: 1px solid #534c5c;;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;
}

textarea {
  width: 375px;
  height: 120px;
  border-radius: 4px;

}