.App {
  text-align: center;
  height: 100vh;
}

Nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
}

Nav a {
  color: black;
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-home {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.error-msg {
  color: red;
  padding: 8px 0;
}

.login-link {
  margin: 2rem 0;
}

.submit-button, .save-button {
  padding: 8px 20px;
  background: black;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
}

input {
  width: 30%;
  padding: 10px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.settings-form{
  border: 1px dashed brown;
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 8px;
}

.toggle-button{
  border: 1px solid black;
  border-radius: 4px;
  background: black;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}