.App {
  text-align: center;
}

Nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
}

Nav a{
  color: black;
}


.nav-links {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-home {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}