body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E2E2E2;
  color: #363337;
  transition: all .25s ease;
}

body.darkTheme {
  color: #E2E2E2;
  background: #363337;
}

body.darkTheme button.save-button {
  background: #E2E2E2;
  color: #363337;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
